In [ ]:
class Person:
    def __init__(self, name, sex, profession):
        self.name = name
        self.sex = sex
        self.profession = profession
    def show(self):
        print('Name:', self.name, '/Sex:', self.sex, '/Profession:', self.profession)

    def work(self):
        print(self.name, 'working as a', self.profession)

satendra = Person('satendra', 'male', 'Programmer')

satendra.show()
satendra.work()

Name: satendra /Sex: male /Profession: Programmer
satendra working as a Programmer

In [ ]:
class Student:
    school_name = 'TBC College'

    def __init__(self, name, age):
        
        self.name = name
        self.age = age

s1 = Student("satendra", 20)

print('Student:', s1.name,'/Age:', s1.age)
print('College name:', Student.school_name)


s1.name = 'satendra'
s1.age = 20
print('Student:', s1.name, s1.age)


Student.school_name = 'TBC College'
print('School name:', Student.school_name)

Student: satendra /Age: 20
College name: TBC College
Student: satendra 20
School name: TBC College

In [ ]:
class Fruit:
    def __init__(self, name, color):
        self.name = name
        self.color = color

    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)
obj = Fruit("Mango", "green")
obj.name = "plum"
obj.show()

Fruit is plum and Color is green

In [ ]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')

class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

car = Car()
car.Vehicle_info()
car.car_info()

Inside Vehicle class
Inside Car class

In [7]:
# Parent class 1
class Person:
    def person_info(self, name, age):
        print('Inside Person class')
        print('Name:', name, 'Age:', age)

# Parent class 2
class Company:
    def company_info(self, company_name, location):
        print('Inside Company class')
        print('Name:', company_name, 'location:', location)

# Child class
class Employee(Person, Company):
    def Employee_info(self, salary, skill):
        print('Inside Employee class')
        print('Salary:', salary, 'Skill:', skill)

# Create object of Employee
emp = Employee()

# access data
emp.person_info('satendra', 20)
emp.company_info('Apple', 'Atlanta')
emp.Employee_info(140000, 'Machine Learning')

Inside Person class
Name: satendra Age: 20
Inside Company class
Name: Apple location: Atlanta
Inside Employee class
Salary: 140000 Skill: Machine Learning

In [ ]:
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')

# Child class
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

# Child class
class SportsCar(Car):
    def sports_car_info(self):
        print('Inside SportsCar class')

# Create object of SportsCar
s_car = SportsCar()

# access Vehicle's and Car info using SportsCar object
s_car.Vehicle_info()
s_car.car_info()
s_car.sports_car_info()

Inside Vehicle class
Inside Car class
Inside SportsCar class

In [6]:
#Multiple Inheritance
# Parent class 1
class Person:
    def person_info(self, name, age):
        print('Inside Person class')
        print('Name:', name, 'Age:', age)

# Parent class 2
class Company:
    def company_info(self, company_name, location):
        print('Inside Company class')
        print('Name:', company_name, 'location:', location)

# Child class
class Employee(Person, Company):
    def Employee_info(self, salary, skill):
        print('Inside Employee class')
        print('Salary:', salary, 'Skill:', skill)

# Create object of Employee
emp = Employee()

# access data
emp.person_info('satendra', 20)
emp.company_info('Apple', 'Atlanta')
emp.Employee_info(140000, 'Machine Learning')

Inside Person class
Name: satendra Age: 20
Inside Company class
Name: Apple location: Atlanta
Inside Employee class
Salary: 140000 Skill: Machine Learning

In [ ]:
# Base class
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')

# Child class
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

# Child class
class SportsCar(Car):
    def sports_car_info(self):
        print('Inside SportsCar class')

# Create object of SportsCar
s_car = SportsCar()

# access Vehicle's and Car info using SportsCar object
s_car.Vehicle_info()
s_car.car_info()
s_car.sports_car_info()

Inside Vehicle class
Inside Car class
Inside SportsCar class

In [ ]:
class Car:
        base_price=50000
        
        @classmethod
        def changebp(clp,bp):
            clp.base_price=bp
Car.changebp(50000)
Car.base_price

50000

In [ ]:
class Person:
    country = "Nepal"

    def __init__(self):
        print("Initializing Person...\n")

    def Employed(self):
        print("I am programming")

class Employee(Person):
    company = "Xiaomi"

    def __init__(self):
        super().__init__()
        print("Initializing Employee...\n")

    def getSalary(self):
        print(f"Salary is {self.salary}")
    
    def Employed(self):
        super().Employed()
        print("I am an Employee")

class Programmer(Employee):
    company = "Skillshare"

    def __init__(self):
       
        print("Initializing Programmer...\n")

    def getSalary(self):
        print(f"give salary to programmers")
    
    def Employed(self):
        super().Employed()
        print("I am a Progarmmer so Im programming")

pr = Programmer()
pr.Employed()

Initializing Programmer...

I am programming
I am an Employee
I am a Progarmmer so Im programming